In [21]:
import sqlite3

# Connexion à la base de données (créée si elle n'existe pas)
conn = sqlite3.connect('data/iro.db')
cursor = conn.cursor()

In [10]:

# Récupérez les noms de toutes les tables dans la base de données
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Affichez les attributs de chaque table
for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")
    cursor.execute(f"PRAGMA table_info({table_name})")
    columns = cursor.fetchall()
    print("Attributs:")
    for column in columns:
        print(column[1], column[2])  # Nom de la colonne et type de données
    print()  # Ligne vide pour la lisibilité

Table: Topic
Attributs:
Topic_id INTEGER
Topic_name CHAR
Topic_category CHAR

Table: sqlite_sequence
Attributs:
name
seq

Table: Impacts
Attributs:
Impact_id INTEGER
Impact_name CHAR
Company_ID INTEGER
Topic_id INTEGER

Table: Risks
Attributs:
Risk_id INTEGER
Risk_name CHAR
Company_ID INTEGER
Topic_id INTEGER

Table: Companies
Attributs:
Company_id INTEGER
Company_name CHAR
    Company_sector CHAR
Company_sector VARCHAR

Table: Opportunities
Attributs:
Opportunity_id INTEGER
Opportunity_name CHAR
Company_ID INTEGER
Topic_id INTEGER

In [13]:
query_companies = """SELECT Company_name, Company_sector FROM Companies;
"""

In [25]:
def get_topic_name():
    query_topic_name= """SELECT Topic_name FROM Topic;"""
    cursor.execute(query_topic_name)
    topics = cursor.fetchall()
    topics = [topic[0] for topic in topics]
    return topics

In [63]:
def get_topicID(topic_name):
    query_topic_name= """SELECT Topic_id FROM Topic WHERE Topic_name = ?"""
    cursor.execute(query_topic_name, (topic_name,))
    id = cursor.fetchall()
    id = [topic[0] for topic in id]
    return id[0]

get_topicID("Land use and biodiversity")

3

In [26]:
def get_sector():
    query_sector_name= """SELECT Company_sector FROM Companies;"""
    cursor.execute(query_sector_name)
    sectors = cursor.fetchall()
    sectors = [sector[0] for sector in sectors]
    return sectors

get_sector()

['Real Estate', 'IT', 'Energy', 'Energy', 'Retail']

In [36]:
def get_impact(topic_selector):
    query_Impact_from_topics="""SELECT Impacts.Impact_name, Companies.Company_sector
                FROM Impacts
                JOIN Companies ON Impacts.Company_ID = Companies.Company_id
                WHERE Impacts.Topic_id = ?"""
    cursor.execute(query_Impact_from_topics, (topic_selector,))
    impacts = cursor.fetchall()
    impacts = [impact[0] for impact in impacts]
    if len(impacts) == 0:
        print("No impacts found")
    else:
        return impacts

get_impact(2)

['Climate change affects companies in the real estate industry through increasingly frequent weather events and changing climate patterns (flood, high temperatures, extreme meteorological events,...).']

In [66]:
def get_company_source(topic_selector):
    query_Impact_from_topics="""SELECT Impacts.Impact_name, Companies.Company_name
                                FROM Impacts
                                INNER JOIN Companies ON Impacts.Company_ID = Companies.Company_id
                                WHERE Impacts.Impact_id =  ?"""
    cursor.execute(query_Impact_from_topics, (topic_selector,))
    impacts = cursor.fetchall()
    impacts = [impact[0] for impact in impacts]
    if len(impacts) == 0:
        print("No impacts found")
    else:
        return impacts

get_company_source("Climate change affects companies in the real estate industry through increasingly frequent weather events and changing climate patterns (flood, high temperatures, extreme meteorological events,...).")

No impacts found

In [43]:
def get_risk(topic_selector):
    query_risk_name= """SELECT Risks.Risk_name, Companies.Company_sector
                    FROM Risks
                    JOIN Companies ON Risks.Company_ID = Companies.Company_id
                    WHERE Risks.Topic_id = ?
                    """
    cursor.execute(query_risk_name, (topic_selector,))
    risks = cursor.fetchall()
    risks = [risk[0] for risk in risks]
    if len(risks) == 0:
        print("No risks found")
    else:
        return risks


get_risk(30)

No risks found

In [44]:
def get_opportunity(topic_selector):
    query_opportunity_name= """SELECT Opportunities.Opportunity_name, Companies.Company_sector
                            FROM Opportunities
                            JOIN Companies ON Opportunities.Company_ID = Companies.Company_id
                            WHERE Opportunities.Topic_id = ?
                            """;
    cursor.execute(query_opportunity_name,  (topic_selector,))
    opportunities = cursor.fetchall()
    opportunities = [opportunity[0] for opportunity in opportunities]
    if len(opportunities) == 0:
        print("No opportunities found")
    else:
        return opportunities

get_opportunity(100)

No opportunities found